.modal {
    background-color: rgba(13, 13, 15, 0.6);
    padding: 0 !important;
}

@media (min-width: 768px) {
    .modal {
        text-align: center;
        padding: 0!important;
    }

    .modal:before {
        content: " ";
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: 0; /* original is -4px */
    }

    .modal-dialog {
        display: inline-block;
        text-align: left;
        vertical-align: middle;
    }
}

.modal-content {
    background-color: #fff;
    @include border-radius(0);
}


.modal-header {
    background-color: $modal-header-bg-color;
    height: $modal-header-height;
    padding: 15px 26px;
    border-bottom: 0;

    @media (max-width: 991px) {
        height: 60px;
    }

    h3, h4, h5 {
        color: #fff;
        font-weight: 600;
    }

    .close {
        font-size: 22px;
        font-weight: 400;
        line-height: 40px;
        color: #f8b614;
        @include opacity(1);
    }

    .mt-inline {
        font-size: 12px;
        color: #fff;
        margin-right: 25px;
        margin-top: 12px;

        a { font-size: 14px; color: #f8b614; font-weight: 400; margin: 0 5px; }
    }

    h3, .modal-title {
        color: $gray;
        font-size: 16px;
        line-height: 2em;

        @media (max-width: 991px) {
            font-size: 18px;
        }
    }
}

.modal-body {
    background-color: #fff;
    margin: 0 auto;
    padding: $modal-body-padding;

    .inner-content {
        padding: 55px 40px 40px;
    }

    @media (max-width: 991px) {
        .inner-content {
            padding: 35px 20px;
        }
    }

    p {
        font-size: 14px;
        margin-bottom: 25px;
        line-height: 1.5em;

        &.heading {
            font-size: 22px;
            font-weight: 600;
        }
    }

    .full-space {
        @media (min-width: 992px) {
            margin-left: -40px;
            margin-right: -40px;
            padding-left: 40px;
            padding-right: 40px;
        }

        @media (max-width: 991px) {
            margin-left: -20px;
            margin-right: -20px;
            padding-left: 20px;
            padding-right: 20px;
        }
    }

    section {
        border-bottom: 1px solid #f0f0f8;
        padding-top: 50px;
    }
}

.modal-footer {
    background-color: #ffffff;
    border-top: 0;
    padding-bottom: 30px;

    .btn-default {
        display: block;
        max-width: 220px;
        margin: 0 auto;
        width: 100%;
    }
}

@media (min-width: 768px) {
    .modal-dialog {
        width: calc(100% - #{60px});
        max-width: 925px;

        &.sm {
            max-width: 520px;
        }

        &.md {
            max-width: 640px;
        }
    }
}

@media (max-width: 991px) and (min-width: 768px) {
    .modal-dialog {
        width: calc(100% - #{40px});
    }
}
